#item .cover {
	float: none;
	margin: 1em auto;
	width: 300px;
	height: 300px;

	.icon-play {
		line-height: 300px;
		font-size: 10em;
	}
}

#item a {
	text-decoration: none;

	&:hover {
		color: #fff;
	}
}

#item h3 {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	line-height: 1em;
}

#item h4 {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	line-height: 1em;
	padding: 1em 0;
	text-transform: uppercase;
	font-weight: 100;
}


.tick {
	font-size: .7em;
	font-family: $heading;
	background: #f00;
}

.tick line {stroke: #ddd !important;}

.tick text {stroke: #999 !important;}

.domain {stroke: #ddd;}

@media screen and (max-width:600px) {

	#item .cover {
		width: 280px;
		height: 280px;
	}

}