body, html {
	margin: 0;
	padding: 0;
}

body {
	font: 16px/1.5em $paragraph;
}

h1, h3, h4 {
	font-family: $heading;
}

h1, h2 {
	text-align: center;
}
h1 {
	color: $rosa;
	font-size: 3em;
	text-transform: uppercase;
}
h1 a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background: $rosa;
	color : #fff;
}

h2 {
	font-size: 1.5em;
	font-weight: 200;
	color: #888;
	letter-spacing: .2em;
	text-transform: uppercase;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	justify-content: center;
	margin: 2em 0 1em;

	&:before, &:after {
	  background-color: #ddd;
	  content: '\a0';
	  -webkit-flex-grow: 1;
	  height: 1px;
	  position: relative;
	  top: 0.5em;
	}
	&:before {
	  margin-right:10px;
	}
	&:after {
	  margin-left:10px;
	}
}

#contenedor {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.clear { clear: both; float: none; }
.clearfix::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.icon-play {
	font-size: .8em;
	border-radius: 100%;
	background: transparent;
	color: #aaa;
	width: 25px;
	height: 25px;
	line-height: 26px;
	display: inline-block;
	text-align: center;
	text-indent: 3px;
	text-decoration: none;
	margin-right: .5em;

	&:hover {
		color: #fff;
		background-color: $rosa;
	}
}


#now-playing {
	text-align: center;
	color: #aaa;


	.fecha {
		font-size: .8em;
		color: #999;
		display: block;
		font-family: $paragraph;
		font-weight: 100;
	}
}


@media screen and (max-width:600px) {

	#contenedor {
		padding: 1em;
		box-sizing: border-box;
	}

	h1 {
		font-size: 2em;
		line-height: 1em;
	}

	h3 {
		font-size: 1em;
		line-height: 1em;
		margin: 0;
	}

	h4 {margin: 0;}

	.count {
		font-size: .8em;
		font-weight: normal;
	}
}